<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="auto" content='spider'>
    <!--    <meta name="referrer" content="no-referrer">-->
    <meta charset="UTF-8">
    <title>北京文旅</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/food.css">

</head>

<body>
<div class="head clearfix">
    <div class="center clearfix"><!-- 导航 -->
        <div class="logo">
            <a href="/">
                <img src=/static/image/BejingTourism.png alt="BeijingTourismLogo"></a>
        </div>
        <ul id="nav" class="nav" style="display: block;">
            <li class="nLi on">
                <h3>
                    <a href="/">登录</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/sign_up">注册</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/food">美食</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/scenery">风景欣赏</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/information">旅游资讯</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/index">首页</a>
                </h3>
                <span></span>
            </li>
        </ul>
    </div>
</div>
<div class="banner"></div>
<div class="CardBox">
    <div class="container">
        <div class="card" style="--clr:#009688">
            <div class="imgBox">
                <img src="/static/image/tanghulu.jpg" alt="">
            </div>
            <div class="content">
                <h2>糖葫芦（Bingtanghulu）</h2>
                <p>是一种传统的中国小吃，起源于南宋时期，在北方是冬季常见的零食。糖葫芦通常是用山楂制作而成的。
                    当糖水稀释后遇到风而冷冻硬化时，它就变成了冰糖葫芦。它的口味酸甜可口，同时也非常凉爽。
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--clr:#f6e659">
            <div class="imgBox">
                <img src="/static/image/CoastDuck.jpg" alt="">
            </div>
            <div class="content">
                <h2>北京烤鸭(Beijing Roast Duck)</h2>
                <p>
                    根据中国的一句俗语，如果你错过了长城的参观或者没有品尝北京烤鸭（北京烤鸭），那你的北京之行就不算完整。
                    作为一道历史悠久的著名美食，北京烤鸭是一个绝佳的选择，如果你想更多地了解中国文化的话。
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--clr:#de2e40">
            <div class="imgBox">
                <img src="/static/image/LvDaGun.jpg" alt="">
            </div>
            <div class="content">
                <h2>驴打滚(Lv Da Gun)</h2>
                <p>是一种传统的中国小吃，起源于南宋时期，在北方是冬季常见的零食。糖葫芦通常是用山楂制作而成的。
                    当糖水稀释后遇到风而冷冻硬化时，它就变成了冰糖葫芦。它的口味酸甜可口，同时也非常凉爽。
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--clr:#f6e659">
            <div class="imgBox">
                <img src="/static/image/Sugar.jpg" alt="">
            </div>
            <div class="content">
                <h2>吹糖人(Sugar Figure Blowing Art)</h2>
                <p>
                    吹糖人是北京的一项古老贸易活动，是中国民间手工艺的一种，已有600多年的历史。根据传说，它的祖先是明朝的宰相刘伯温...
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--clr:#f6e659">
            <div class="imgBox">
                <img src="https://vbj-rsen.huanqiucdn.cn/dp/api/files/MxGk9A25eq2zPfivNP_pqlpZ.jpg" alt="">
            </div>
            <div class="content">
                <h2>涮羊肉(Instant-boiled mutton)</h2>
                <p>
                  涮羊肉，又称蒙古火锅或涮炖羊肉，是一道中国火锅菜品。传统上，中国人在寒冷的冬天在家里享用涮羊肉，但近年来，涮羊肉已经成为全年食用的美食。它也常在餐馆里供应。
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--clr:#f6e659">
            <div class="imgBox">
                <img src="https://vbj-rsen.huanqiucdn.cn/dp/api/files/MxGk9A25eq2zPfivNP_pqlpZ.jpg" alt="">
            </div>
            <div class="content">
                <h2>北京烤鸭</h2>
                <p>
                    根据中国的一句俗语，如果你错过了长城的参观或者没有品尝北京烤鸭（北京烤鸭），那你的北京之行就不算完整。
                    作为一道历史悠久的著名美食，北京烤鸭是一个绝佳的选择，如果你想更多地了解中国文化的话。
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--clr:#f6e659">
            <div class="imgBox">
                <img src="https://vbj-rsen.huanqiucdn.cn/dp/api/files/MxGk9A25eq2zPfivNP_pqlpZ.jpg" alt="">
            </div>
            <div class="content">
                <h2>北京烤鸭</h2>
                <p>
                    根据中国的一句俗语，如果你错过了长城的参观或者没有品尝北京烤鸭（北京烤鸭），那你的北京之行就不算完整。
                    作为一道历史悠久的著名美食，北京烤鸭是一个绝佳的选择，如果你想更多地了解中国文化的话。
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="card" style="--clr:#f6e659">
            <div class="imgBox">
                <img src="https://vbj-rsen.huanqiucdn.cn/dp/api/files/MxGk9A25eq2zPfivNP_pqlpZ.jpg" alt="">
            </div>
            <div class="content">
                <h2>北京烤鸭</h2>
                <p>
                    根据中国的一句俗语，如果你错过了长城的参观或者没有品尝北京烤鸭（北京烤鸭），那你的北京之行就不算完整。
                    作为一道历史悠久的著名美食，北京烤鸭是一个绝佳的选择，如果你想更多地了解中国文化的话。
                </p>
                <a href="#">Read More</a>
            </div>
        </div>

    </div>

</div>


<footer id='foot'>
    <div class="top">
        <div class="block left ">
            <h2>友情链接</h2>
            <hr>
            <ul>
                <li>国家博物馆</li>
                <li>国家图书馆</li>
                <li>国家大剧院</li>
                <li>故宫</li>
            </ul>
            <ul>
                <li>慕田峪长城</li>
                <li>北京旅游集散中心</li>
                <li>中国电影博物馆</li>
                <li>北方昆曲剧院</li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <a>
            北京文化旅游网 | www.beijing.com | 旅行经营许可证
        </a>
    </div>
</footer>
</body>

</html>