<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="auto" content='spider'>
    <meta charset="UTF-8">
    <title>北京旅游</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/request.css">
</head>
<body>
<div class="head clearfix">
    <div class="center clearfix"><!-- 导航 -->
        <div class="logo">
            <a href="/">
                <img src=/static/image/BejingTourism.png alt="BeijingTourismLogo"></a>
        </div>
        <ul id="nav" class="nav" style="display: block;">
            <li class="nLi on">
                <h3>
                    <a href="/" >登录</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/sign_up" >注册</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/food" >美食</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/scenery" >风景欣赏</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/information" >旅游资讯</a>
                </h3>
                <span></span>
            </li>
            <li class="nLi">
                <h3>
                    <a href="/index" >首页</a>
                </h3>
                <span></span>
            </li>
        </ul>
    </div>
</div>
<div class="banner1">

</div>
<div class="area" id="fCut01">
    <div class="left" id="left">
        <h1 class="location">
            <p><a href="#">News</a></p>
        </h1>
        <div class="list14" id="listItems">
            <div class="item">
                <div class="item_1">
                    <h3 class="t">
                        <a href="/article/4Dbx276bFKO"><font>国家体育场对游客延长夜间开放时间</font></a>
                    </h3>
                    <span class="item_time">2023-07-07</span>
                </div>
                <div class="item_3 item3_txt">
                    <p>国家体育场（鸟巢）将于2023年7月5日至10月9日期间延长夜间开放时间，供观光游览。
                        开放时间现为10:00至22:00（最晚验票时间为21:00）。夜间灯光将持续亮起时间为19:40至22:30。
                        如需更多信息，请致电+86-400-600-2008。（来源：鸟巢）</p>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="item">
                <div class="item_1"><h3 class="t"><a href="/article/4Dbwr6Nt0rX"><font>中国戏曲文化周呼吁参与吉祥物和宣传歌曲的征集。</font></a></h3><span class="item_time">2023-07-07</span></div>
                <div class="item_3 item3_txt"><p>中国戏曲文化周正在寻求吉祥物设计和宣传歌曲的建议。奖励高达50,000元。
                    请在“中国戏曲”微信公众号上了解更多信息。该活动旨在展示中国戏曲文化和传统遗产的品牌特色。鼓励原创和多样化的作品提交。
                    第七届中国戏曲文化周将于今年秋季举办，主题为“山水间大戏，园博相聚”。</p></div>
                <div class="clear"></div>
            </div>

            <div class="item">
                <div class="item_1"><h3 class="t"><a href="/article/4DbwYqTQHIe"><font>北京市前五个月的总消费增长了8.9%。</font></a></h3><span class="item_time">2023-07-07</span>
                </div>
                <div class="item_3 item3_txt"><p>北京的消费市场表现出积极增长，总消费和重要购物区的交通量也有所增加。
                    该市吸引了众多品牌的首店，并见证了传统与时尚的融合。
                    新兴品牌也在不断涌现，同时在线零售和直播电商政策也在不断优化。
                    总体而言，北京的消费市场稳定并持续稳步发展。</p></div>
                <div class="clear"></div>
            </div>

            <div class="item">
                <div class="item_1"><h3 class="t"><a href="/article/4DbvUPpk5XB"><font>北京人民有益文化消费季期间举办了艺术节活动。</font></a></h3><span
                        class="item_time">2023-07-07</span></div>
                <div class="item_3 item3_txt"><p>在北京举办的“Come Together（聚集一起）”艺术节展示了时尚和传统文化的融合。
                    该艺术节拥有100多家商家，提供独特的礼品、艺术摊位和文化体验。游客可以探索非物质文化遗产工艺品，并参与实践活动。
                    艺术印象展览展示了多样化的当代艺术形式，突出了中国艺术的现代性。城市中的多个分会场展示了欧洲大师绘画、古埃及文物等展览。</p></div>
                <div class="clear"></div>
            </div>


        </div>
    </div>
    <!--右侧-->
    <div class="right">
        <div class="box3"></div>
        <div class="pt">
            <div>
                <a href="" dataHref="/article/" dataLink="https://r.visitbeijing.com.cn/line/34" class="outside-Link">
                    <img alt="Gubei Water Town One-day Tour" src="/static/image/Tours1.jpg">
                </a>
            </div>
            <div class="pt_text">
                <h3>
                    <a href=""
                       class="outside-Link">古北水乡 一日游</a>
                </h3>
                <p>
                    <a href="" dataHref="/article/" dataLink="https://r.visitbeijing.com.cn/line/34"
                       class="outside-Link">古北水镇是在原有的三个自然村庄基础上重建的，保留了当地的历史、民俗文化和其他文化。
                        你可以在这个北方小镇上找到历史记忆的痕迹。</a>
                </p>
            </div>
        </div>
        <div class="pt">
            <div>
                <a href="" dataHref="/article/" dataLink="https://r.visitbeijing.com.cn/line/33" class="outside-Link">
                    <img alt="Huaxi LIVE·Wukesong One-day Tour" src="/static/image/Tours2.jpg">
                </a>
            </div>
            <div class="pt_text">
                <h3>
                    <a href="" dataHref="/article/" dataLink="https://r.visitbeijing.com.cn/line/33"
                       class="outside-Link">八达岭长城 一日游</a>
                </h3>
                <p>
                    <a href="" dataHref="/article/" dataLink="https://r.visitbeijing.com.cn/line/33"
                       class="outside-Link">八达岭长城不仅是中国历史文化的见证，也是户外活动的理想场所。
                        游客可以沿着长城的蜿蜒路径徒步探索，感受长城的宏伟与雄奇。</a>
                </p>
            </div>
        </div>
        <div class="fixed-box">
            <div class="box4">Hot Recommend</div>
            <div class="pt">
                <div>
                    <a href="" dataHref="/article/47OLiX6yj3B" dataLink="" class="outside-Link">
                        <img alt="The Palace Museum" src="/static/image/Tours3.jpg">
                    </a>
                </div>
                <div class="pt_text">
                    <h3>
                        <a href="" dataHref="/article/47OLiX6yj3B" dataLink="" class="outside-Link">故宫博物院</a>
                    </h3>
                    <p>
                        <a href="" dataHref="/article/47OLiX6yj3B" dataLink="" class="outside-Link">
                            紫禁城作为中国皇权所在地已有500年的历史，它见证了中国皇权的巅峰与衰落。
                            而今天，故宫作为一个开放的博物馆和旅游景点，继续吸引着来自世界各地的游客。
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer id='foot'>
    <div class="top">
        <div class="block left ">
            <h2>友情链接</h2>
            <hr>
            <ul>
                <li>国家博物馆</li>
                <li>国家图书馆</li>
                <li>国家大剧院</li>
                <li>故宫</li>
            </ul>
            <ul>
                <li>慕田峪长城</li>
                <li>北京旅游集散中心</li>
                <li>中国电影博物馆</li>
                <li>北方昆曲剧院</li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <a>
            北京文化旅游网 | www.beijing.com | 旅行经营许可证
        </a>
    </div>
</footer>
</body>

</html>