<html lang="en">
<head>
    <meta charSet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="/static/css/sign_up.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script src="/static/js/sign_in.js"></script>
    <style></style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header">Sign in</div>
        <div class="form-wrapper">
            <form id="login-form" method="POST">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="Username" class="input-item">
                <input type="password" id="password" name="password" placeholder="Password" class="input-item">
                <button type="submit" class="btn btn10">Login</button>
            </form>
        </div>
        <div class="msg" id="message">
            Don't have an account?
            <a href="../sign_up/">Sign up</a>
        </div>
    </div>
    <div class="box1"></div>
</div>
</body>
</html>